body {
   padding: 0px;
   margin: 0px;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
main {
    background-color: white;
    padding-left: 10px;
    flex: 1;
}

header {
    background-color: midnightblue;
    color: white;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    border-bottom: 1px solid lightsteelblue;
}

nav {
    background-color: #000033;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 45px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 45px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 7px 0;
    width: 100%;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin-top: 30px;
    font-family: sans-serif;
}

table th {
    background-color: #000055;
    color: white;
    text-align: left;
    padding: 15px;
    font-size: 18px;
}

table td {
    padding: 15px;
    border-bottom: 1px solid black; 
}

form {
    width: 60%;
    margin-top: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}

input[type="text"], 
input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}

main ul {
    list-style: none;
    padding: 0px; 
    margin-top: 25px;
}

main ul li strong {
    color: #000033;
    width: 100px;
}

nav ul li a:hover {
    background-color: #000033;
    color: gold;
    border-radius: 5px;
    transition: 0.3s;
}

button[type="submit"] {
    background-color: #000033;
    color: white;
    padding: 12px 25px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background-color: midnightblue;
    color: gold;
}

@media (max-width: 480px) {
    header h1 {
        font-size: 16px;
        padding: 10px 0;
        width: 100%;
    }
    footer{
      font-size: 12px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        list-style: none;
        width: 25%;
        margin: 0;
        text-align: center;
    }

    nav ul li a {
        display: block;
        font-size: 9px;
        padding: 6px 0;
        white-space: nowrap;
    }

    table {
        width: 100% !important;
        margin: 10px 0;
        display: block;
        overflow-x: auto;
    }

    table th, table td {
        padding: 8px 4px;
        font-size: 12px;
    }

    form {
        width: 95% !important;
    }

    input, label, button {
        display: block;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    header h1 {
        font-size: 22px;
    }
    footer {
      15px
    }

    nav ul {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        list-style: none;
        width: 25%;
        margin: 0;
        text-align: center;
    }

    nav ul li a {
        display: block;
        font-size: 13px;
        padding: 15px 0;
        text-decoration: none;
    }

    table {
        width: 95%;
    }

    table th, table td {
        padding: 10px;
        font-size: 14px;
    }

    form {
        width: 85%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    header h1 {
        font-size: 26px;
    }

    nav ul {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        list-style: none;
        width: 25%;
        margin: 0;
        text-align: center;
    }

    nav ul li a {
        display: block;
        font-size: 16px;
        padding: 15px 0;
        text-decoration: none;
    }

    table {
      width: 85%;
    }
    form {
      width: 70%;
    }
  }
